$teal-color: #30cfd0;
$purple-color: #330867;
$darkgrey-color: #808080;
$whitesmoke-color: #f5f5f5;
$lightgrey-color: #d3d3d3;
$white-color: #ffffff;

@mixin gradient {
	background-image: linear-gradient(205deg, $teal-color, $purple-color);
}

@mixin gradientFlip {
	background-image: linear-gradient(205deg, $purple-color, $teal-color);
}

@mixin contentGradientDark {
	background-image: linear-gradient(30deg, $lightgrey-color, $whitesmoke-color);
}

@mixin contentGradientLight {
	background-image: linear-gradient(30deg, $whitesmoke-color, $white-color);
}

/*--global--*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	text-decoration: none;
}

html {
	font-family: neue-haas-grotesk-display, sans-serif;
	font-style: normal;
	font-weight: 100;
	font-size: 18px;
	scroll-behavior: smooth;
}

body {
	width: 100%;
	background-color: black;
}

p {
	font-size: 1.2em;
}

.container {
	width: 60vw;
	margin: 0 auto;
	background-color: whitesmoke;
}

.btnOutlined {
	text-decoration: none;
	border: 2px solid white;
	border-radius: 5px;
	text-align: center;
	color: white;
}

.btnFilled {
	text-decoration: none;
	@include gradient();
	border-radius: 6px;
	text-align: center;
	color: $purple-color;
}

.contentVertical {
	width: 50%;
	display: flex;
	flex-direction: column;
}

textarea {
	font-family: neue-haas-grotesk-display, sans-serif;
	font-style: normal;
	font-weight: 100;
}

textarea::-webkit-scrollbar {
	width: 12px;
}

/* Track */
textarea::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

/* Handle */
textarea::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: rgba(black, 0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
textarea::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(black, 0.8);
}

::placeholder {
	color: lightgray;
}

/*--global--*/

/*--nav--*/

nav {
	width: 60vw;
	margin: 0 auto;
	text-align: right;

	#toggle {
		display: none;
	}

	label {
		color: white;
		font-size: 30px;
		display: none;
	}

	a:first-child {
		float: left;
		padding-left: 2px;
	}
	a {
		display: inline-block;
		padding: 10px 15px;
		color: white;
	}
}

/*--nav--*/

/*--header--*/

.headerContainer {
	width: 60vw;
	margin: 0 auto;
}

.coloredHeader {
	color: lightgrey;
}

.smallHeader {
	font-size: 18px;
	color: lightgrey;
	line-height: 15px;
}

h1 {
	font-size: 64px;
	line-height: 65px;
	color: white;
	width: 60vw;
	margin: 5vh auto 0 auto;
	padding-bottom: 5px;
	vertical-align: middle;
	display: inline-block;
}

header {
	height: 50vh;
	//background-image: url("assets/headerImage.jpg");
	background-image: linear-gradient(90deg, rgba(black, 0.9), rgba(black, 0.8)),
		url("/assets/samuel-zeller-j0g8taxHZa0-unsplash.jpg");
	background-size: cover;
	text-align: left;
	font-family: neue-haas-grotesk-display, sans-serif;
	font-style: normal;
	font-weight: 100;
}

.headerBtnOutlined {
	border: 2px solid white;
	color: white;
	padding: 10px;
	border-radius: 5px;
	margin-left: 10px;
}

.headerBtnFilled {
	display: inline-block;
	@include gradient();
	border-radius: 5px;
	padding: 12px;
	color: white;
}

/*--header--*/

/*--about--*/

.about {
	width: 60vw;

	display: flex;
	background-image: linear-gradient(90deg, rgba(black, 0.9), rgba(black, 0.7)),
		url("/assets/codeBackground.jpg");
	background-size: cover;

	.content {
		height: 50vh;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-direction: column;

		p {
			display: block;
			font-size: 1.3em;
			padding: 20px 60px;
		}
	}

	.content:nth-child(1) {
		@include contentGradientDark();
		color: black;
	}

	.content:nth-child(2) {
		@include contentGradientLight();
		color: black;
	}

	.content:nth-child(3) {
		@include contentGradientDark();
		color: black;
	}

	ul {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-gap: 10px;
		width: 80%;
		text-align: center;

		li {
			list-style-type: none;

			display: flex;
			flex-direction: column;
			justify-content: center;
			h3 {
				padding-top: 10px;
			}
			i {
			}
		}
	}

	.imageBox {
		display: flex;
		background: transparent;
		img {
			display: block;
			margin: auto auto;
			max-width: 65%;
			border-radius: 100%;
			box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
		}
	}

	.aboutTitle {
		display: flex;
		width: 50%;
		height: 50vh;
		justify-content: center;
		align-items: center;
		font-size: 60px;

		margin: 0 !important;
		@include gradientFlip();
		color: white;
	}
}

/*--about--*/

/*--projects--*/

.projectShowcase {
	width: 60vw;

	margin: 0 auto;
	display: flex;
	background-image: linear-gradient(90deg, rgba(black, 0.9), rgba(black, 0.8)),
		url("/assets/codeBackground.jpg");
	background-size: cover;
	p {
		display: block;
		font-size: 1.2em;
		padding: 20px 60px;
	}
}

.projectTitle {
	display: flex;
	width: 50%;
	height: 50vh;
	justify-content: center;
	align-items: center;
	font-size: 60px;

	margin: 0 !important;
	@include gradient();
	color: white;
}
.project {
	height: 50vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;

	h2 {
		font-size: 1.35em;
	}

	a {
		padding: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 5px;

		img {
			width: 75px;
		}

		img:first-of-type {
			width: 20px;
			height: 20px;
		}
	}

	a:hover {
		box-shadow: 5px 5px 10px grey;
		transform: scale(1.1);
	}
}

.project:nth-child(1) {
	@include contentGradientDark();
	color: black;
}

.project:nth-child(2) {
	@include contentGradientLight();
	color: black;
}

/*--projects--*/

/*--contact--*/

.contact {
	width: 60vw;
	margin: 0 auto;
	display: flex;
	background-image: linear-gradient(90deg, rgba(black, 0.9), rgba(black, 0.8)),
		url("/assets/codeBackground.jpg");
	background-size: cover;

	p {
		width: 70%;
	}

	#contactForm {
		@include gradient();
		display: flex;
		flex-direction: column;

		align-items: center;
		justify-content: center;
		height: 50vh;
		width: 100%;

		#name,
		#email {
			display: block;
			background: rgba(black, 0.3);
			border-radius: 5px;
			color: white;
			width: 80%;
			margin: 10px;
			padding: 5px;
		}

		#description {
			display: block;
			margin: 10px;
			padding: 5px;
			background: rgba(black, 0.3);
			border-radius: 5px;
			height: 50%;
			color: white;
			width: 80%;
			resize: none;
		}

		#submit {
			color: white;
			background: rgba(black, 0.3);
			cursor: pointer;
			width: 100px;
			padding: 10px;
		}
	}

	.contactTitle {
		display: flex;
		width: 50%;
		height: 50vh;
		justify-content: center;
		align-items: center;
		font-size: 60px;

		margin: 0 !important;
		@include gradient();
		color: white;
	}
}

/*--contact--*/

/*--animation--*/

.fadeInSlow {
	animation: fadeIn 4s;
}

.fadeIn {
	animation: fadeIn 2s;
}

.fadeInFast {
	animation: fadeIn 1s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes stretchTitle {
	from {
		height: 50vh;
	}

	to {
		height: 100vh;
	}
}

@keyframes shrinkTitle {
	from {
		height: 100vh;
	}

	to {
		height: 50vh;
	}
}

/*--responsive--*/

@media only screen and (max-width: 600px) {
	html {
		font-size: 12px;
	}

	nav {
		width: 100vw;

		top: 0px;
		padding: 0;
		background-color: rgba(black, 0.7);
		position: fixed;

		height: 10vh;

		a:first-child {
			margin-left: 0.7em;
		}

		a {
			font-size: 1.5em;
			margin-top: 0.7em;
			margin-right: 0.7em;
		}
	}

	header {
		height: 100vh;
		width: 100vw;
		background-image: linear-gradient(90deg, rgba(black, 0.9), rgba(black, 0.8)),
			url("/assets/headerImageFlipped.jpg");
	}
	.headerBtnFilled {
		margin: 0 5vw;
		font-size: 6vw;
		font-weight: bold;
	}

	.headerBtnOutlined {
		margin: 0;
		font-size: 6vw;
		font-weight: bold;
	}

	h1 {
		text-align: left;
		font-size: 15vw;
		display: block;
		margin-top: 2em;
		width: 90%;
	}

	.headerContainer {
		width: 100vw;
		height: 100vh;
		margin: 0;
	}

	.container {
		width: 100vw;

		background-color: black;
	}

	.projectShowcase {
		width: 100vw;
		margin: 0 auto;
		flex-direction: column-reverse;
	}

	.project {
		width: 100vw;
		height: 100vh;
		p {
			font-size: 2.2em;
			width: 90%;
		}
	}

	.projectTitle {
		width: 100vw;
		height: 25vh;
	}

	.contentVertical {
		flex-direction: column;
	}

	.about {
		width: 100vw;

		margin: 0 auto;
		flex-direction: column;

		.aboutTitle {
			width: 100vw;
			height: 25vh;
		}

		.content {
			width: 100vw;
			height: 100vh;
		}
	}

	#callToAction {
		font-size: 2.2em;
	}

	.contact {
		width: 100vw;
		margin: 0 auto;
		flex-direction: column;
		#flip {
			@include gradient();
			color: $white-color;
		}

		#contactForm {
			@include contentGradientDark();
			width: 100vw;
			height: 100vh;
			font-size: 2em;
			#name,
			#email {
				margin: 0.5em;
				padding: 5px;
			}

			#description {
				display: block;
				margin: 0.5em;
				padding: 5px;
				background: rgba(black, 0.3);
				border-radius: 5px;
			}

			#submit {
				color: white;
				background: rgba(black, 0.3);
				width: 100px;
				padding: 10px;
			}
		}
	}

	.content {
		width: 100vw;
		height: 100vh;
	}
}

@media only screen and (max-width: 1365px) {
	html {
		font-size: 12px;
	}

	nav {
		width: 100vw;
		top: 0px;
		padding: 0;
		background-color: rgba(black, 0.7);
		position: fixed;

		height: 6em;

		a:first-child {
			margin-left: 5vw;
		}

		a {
			font-size: 1.5em;
			margin-top: 0.7em;
			margin-right: 0.7em;
		}

		a:last-of-type {
			margin-right: 5vw;
		}
	}

	header {
		height: 100vh;
		width: 100vw;
		background-image: linear-gradient(90deg, rgba(black, 0.9), rgba(black, 0.8)),
			url("/assets/headerImageFlipped.jpg");
	}
	.headerBtnFilled {
		margin-top: 2%;
		margin-left: 5%;
		font-size: 2.2em;
		font-weight: bold;
	}

	.headerBtnOutlined {
		margin-top: 2%;
		margin-left: 2%;
		font-size: 2.2em;
		font-weight: bold;
	}

	h1 {
		text-align: left;
		font-size: 5em;
		display: block;
		margin-top: 20%;
		width: 90%;
		line-height: 1em;
	}

	.headerContainer {
		width: 100vw;
		height: 100vh;
		margin: 0;
	}

	.container {
		width: 100vw;

		background-color: black;
	}

	.projectShowcase {
		width: 100vw;
		margin: 0 auto;
		flex-direction: column-reverse;
		.project {
			h2 {
				font-size: 4em;
			}
		}
	}

	.project {
		width: 100vw;
		height: 100vh;
		p {
			font-size: 3.5em;
			width: 90%;
			padding: 0;
			padding-bottom: 5px;
		}
	}

	.projectTitle {
		width: 100vw;
		height: 25vh;
	}

	.contentVertical {
		flex-direction: column;
	}

	.about {
		width: 100vw;

		margin: 0 auto;
		flex-direction: column;

		.aboutTitle {
			width: 100vw;
			height: 25vh;
		}

		.content {
			width: 100vw;
			height: 100vh;
			p {
				font-size: 3.5em;
			}
		}
	}

	.contact {
		width: 100vw;
		margin: 0 auto;
		flex-direction: column;
		#flip {
			@include gradient();
			color: $white-color;
		}
		#contactForm {
			@include contentGradientDark();
			width: 100vw;
			height: 100vh;
			font-size: 2em;
			#name,
			#email {
				margin: 0.5em;
				padding: 5px;
			}

			#description {
				display: block;
				margin: 0.5em;
				padding: 5px;
				background: rgba(black, 0.3);
				border-radius: 5px;
			}

			#submit {
				color: white;
				background: rgba(black, 0.3);
				width: 100px;
				padding: 10px;
			}
		}
	}

	.content {
		width: 100vw;
		height: 100vh;
	}
}

@media only screen and (max-width: 800px) {
	h1 {
		font-size: 4em;
	}

	.headerBtnFilled {
		font-size: 2em;
	}

	.headerBtnOutlined {
		font-size: 2em;
	}

	.projectShowcase {
		.project {
			h2 {
				font-size: 3em;
			}
		}

		p {
			text-align: center;
			font-size: 1.8em;
			padding-bottom: 10px;
		}
	}

	.about {
		.content {
			p {
				font-size: 1.8em;
				width: 85%;
				padding: 0;
				padding-bottom: 20px;
			}
		}
	}
}

@media only screen and (max-width: 500px) {
	nav {
		align-items: center;
		background-color: black;
		a {
			margin: 0;
		}
		a:first-child {
			margin: 0;
			display: none;
			float: none;
		}
		label {
			display: block;
			cursor: pointer;
			padding-top: 15px;
			padding-right: 8vw;
			height: 1.9em;
		}

		.menu {
			display: none;
			text-align: center;
			width: 100%;
			background-color: black;
		}

		.menu a {
			display: block;
			border-bottom: 2px solid white;
			padding: 20px;
		}

		a:first-child {
			border-top: 2px solid white;
		}

		#toggle:checked + .menu {
			display: block;
		}

		a:last-of-type {
			margin: 0;
		}
	}

	.btnOutlined {
		border: none;
		border-radius: 0;
	}
}
